$rakas: "Rakkas", serif;
$noto: "Noto Nastaliq Urdu", serif;
$cairo: "Cairo", sans-serif;
$amiri: "Amiri", serif;

$c1: rgb(60, 137, 60);

* {
  margin: 0;
  padding: 0;
}

body {
  background: lightseagreen;
  color: white;

  font-family: $cairo, sans-serif;

  .navBar {
    box-shadow: 0px 4px 8px $c1;

    background: lightseagreen;
    color: white;

    display: flex;
    flex-direction: row-reverse;

    justify-content: space-around;
    align-items: center;

    padding: 1%;

    h1 {
      font-family: $noto, sans-serif;
      font-size: 20px;
      &:hover{
        text-shadow: 0px 0px 4px white;
        color: $c1;
      }
    }
    .reverse{
      flex-direction: row;
    }
    .links {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      a {
        margin: 5%;

        text-decoration: 0;

        color: white;

        &:hover {
          text-decoration: underline $c1 3px;
        }
      }
    }
  }
  .reverse{
    flex-direction: row;
  }

  .landingPage {
    height: 80vh;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    .reverse{
      flex-direction: row;
    }
    .img {
      img {
        height: 400px;

        filter: drop-shadow(0px 0px 8px $c1);
      }
    }

    .txt {
      font-family: $cairo;

      text-align: center;

      h1 {
        font-family: $noto;
        font-size: 65px;
        font-weight: 900;

        margin: 5%;

        white-space: nowrap;

        text-shadow: 0px 0px 6px $c1;
      }
      audio{
        box-shadow: 0px 4px 8px $c1;

        border-radius: 25px;
      }
    }
  }
}



#engTitle{
  font-size: 40px;
  font-family: sans-serif;
  
  text-align: center;
}
#engTitleN{
  font-size: 20px;
  font-family: sans-serif;
  
  text-align: center;
}


@media screen and (max-width: 700px) {
  body .navBar .links a{
    margin: 1%;

    font-size: 14px;
  }
  
  .landingPage{
    flex-direction: column;

    padding-top: 5%;

    justify-content: space-between;
    .img{
      img{
        width: 300px;
      }
    }
  }
}